@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Parkinsans", sans-serif;
  overflow-x: hidden;
}

::selection {
  color: #ffffff;
  background-color: #a0153e;
}

input::selection,
textarea::selection,
select::selection {
  color: #ffffff;
  background-color: #a0153e;
}
